body {
    background:#000000;
}


#canvasBg {
    display:block;
    background:#ffffff;
    margin:100px auto 0px;
}

#canvasAvatar {
    display:block;
    margin:-500px auto 0px;
}

#canvasVraag{
display:block;
margin: -600px auto 0px;
}

#canvasResultatenScherm{
display:block;
margin: -600px auto 0px;
}

#canvasResultaat{
display:block;
margin: -600px auto 0px;
}

#canvasMenu{
display:block;
margin: -700px auto 0px;
}

#canvasChecklist{
display:block;
margin: -600px auto 0px;
}

#canvasHelp{
display:block;
margin: -600px auto 0px;
}

#canvasTelefoon{
display:block;
margin: -600px auto 0px;
}



